In [6]:

import pandas as pd

In [46]:
G = ['Male '*5,'Female '*5,'Person '*5]
Gender = []
for gender in G:
    l = gender.split(' ')
    for g in l:
        if len(g) != 0 :
            Gender.append(g)
Gender = Gender*3
job = ['Number of Jobs'] * 15
income = ['Median Income per Job'] * 15
adjusted_income = ['Duration Adjusted Income per Job']*15
Category= []
Category.extend(job)
Category.extend(income)
Category.extend(adjusted_income)

In [47]:
newData = pd.read_excel('state_data.xlsx', sheet_name='Sheet1')
newData = newData.drop(['Unnamed: 1'], axis=1)
df_transposed = newData.T
df_transposed.columns = df_transposed.iloc[0]
df_transposed = df_transposed[1:]
col = df_transposed.columns.tolist()
col[0] = 'Year'
df_transposed.columns = col
df_transposed['Gender'] = Gender
df_transposed['Category'] = Category
df_transposed.reset_index(drop=True)
df_transposed.index = range(len(df_transposed.index))

In [59]:
df_transposed.to_excel('output.xlsx')

In [69]:
states = df_transposed.columns[2:10].tolist()
state_abbreviations_list  = ['NSW', 'VIC', 'QLD', 'SA', 'WA', 'TAS', 'NT', 'ACT']

In [70]:
dfs = []

for i in range(len(states)):
    df = df_transposed[[states[i],'Year','Category','Gender']]
    df.columns = ['Value','Year','Category','Gender']
    df['State'] = state_abbreviations_list[i]
    dfs.append(df)

<ipython-input-70-ac72df8564cf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['State'] = state_abbreviations_list[i]

In [86]:
df = pd.concat(dfs)
df.to_excel('output.xlsx',index=False)

In [90]:
newData = pd.read_excel('state2.xlsx')
newData = newData.drop(['STATE NAME'], axis=1)
newData.columns[-1]

'2019-20'

In [91]:
new_df = newData.pivot_table(index=['STATE', 'Age Range'], columns='Sex', values='2019-20').reset_index()

In [94]:
new_df.to_excel('2020_median_income.xlsx')
new_df.head()

Sex STATE     Age Range  Females   Males  Persons
0     ACT  24 and Under    26465   29531    27863
1     ACT      25 to 34    64913   71465    68212
2     ACT      35 to 44    79387  100005    89617
3     ACT      45 to 54    87520  109828    97089
4     ACT      55 to 64    74100   97990    84993

In [ ]:
ssh -i /path/to/your/private-key.pem ec2-user@your-instance-public-ip