In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('Full-time non-managerial employees paid at the adult rate, average weekly total cash earnings - industry by sex.xlsx')
df_female = df[['INDUSTRY', 'Females ($)']].rename(columns={'Females ($)': 'salary'})
df_female['Gender'] = 'F'
df_male = df[['INDUSTRY', 'Males ($)']].rename(columns={'Males ($)': 'salary'})
df_male['Gender'] = 'M'
df = pd.concat([df_female,df_male], axis =0)
df.to_csv('industry.csv',index=False)
df.head()

                                     INDUSTRY  salary Gender
0                                      Mining  2326.5      F
1                               Manufacturing  1356.2      F
2  Electricity, gas, water and waste services  1846.6      F
3                                Construction  1505.3      F
4                             Wholesale trade  1486.3      F

In [6]:
df.to_csv('industry.csv',index=False)